[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backtesting = "*"
mlfinlab = "*"
vectorbt = "*"
yfinance = "*"
alpaca-trade-api = "*"
bt = "*"
pandas-ta = "*"

[dev-packages]

[requires]
python_version = "3.7"
